<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>
<body>
    <h1>Товары</h1>
    <ul>
        <li>
            Первый пункт
            <button>Кнопка 1</button>
        </li>
        <li>
            Второй пункт
            <button>Кнопка 2</button>
        </li>
        <li>
            Третий пункт
            <button>Кнопка 3</button>
        </li>
    </ul>
    <button onclick="location.href='{% url "glavnaya" %}';">На главную</button>
</body>
</html>
